# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
*.log

backChannelClientWin/x64/

# Visual Studio 2015/2017 cache/options directory
x64/

