[submodule "genCppTools"]
	path = genCppTools
	url = https://github.com/example/genCppTools.git
[submodule "CommonCppDartCode"]
	path = CommonCppDartCode
	url = https://github.com/rurr1213/CommonCppDartCode.git
